name: Build ORI SCION APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git ffmpeg libgstreamer1.0-dev zip unzip openjdk-17-jdk libltdl-dev
          pip install --upgrade pip buildozer cython==0.29.33
      - name: Build with Buildozer
        run: |
          yes | sdkmanager --sdk_root=$ANDROID_HOME "platforms;android-34" "build-tools;34.0.0"
          mkdir -p ~/.android && touch ~/.android/repositories.cfg
          # Commencement of the optimal build
          buildozer android debug
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
